
.information-page {
  position: absolute;
  top: 0px;
  z-index: 1150;
  height: 100%;
  width: 100%;
  background: #EEF1F3;
}

#information-page-close-icon {
  margin: 10px 10px 0 0;
  float: right;
  &:hover {
    cursor: pointer;
  }
}
